<div class="site-info">
<!--    
A project curated with <span class="icon icon-heart"></span> by <a href="https://twitter.com/MagdeleinePhoto" rel="designer">Magdeleine</a> // C.F. FNZLNE80T69F839K // <a href="http://magdeleine.co/privacy-policy/">Privacy Policy</a>
-->
<a>COPYRIGHT © 2003-2015 DESIGN.NET, ALL RIGHTS RESERVED　ICP备5201314号</a>
<br/>
<a>国内最大的原创商业图库　·　唯一可为摄影师提供专业晋级认证服务平台</a>
<div class="site-social">
<a>版权所有：LOUDVIOCES</a>
<!--<ul>
    <li><a href="https://twitter.com/MagdeleinePhoto" title="Twitter profile">Twitter</a></li> //
    <li><a href="https://www.facebook.com/magdeleinephoto" title="Facebook profile">Facebook</a></li> //
    <li><a href="https://plus.google.com/u/0/b/103057276350036386779/103057276350036386779" title="Google+ profile">Google+</a></li> //
    <li><a href="http://www.pinterest.com/magdeleinep/" title="Pinterest profile">Pinterest</a></li> //
    <li><a href="http://feeds.feedburner.com/magdeleine" title="RSS Feed">RSS</a></li> //
    <li><a href="http://magdeleine.co/contact/" title="Contact">Contact</a></li>
</ul>-->
</div>
</div>
